services:
  database:
    image: postgres:latest
    container_name: promillezone-database
    restart: always
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: promillezone
    volumes:
      - db-data:/var/lib/postgresql
    ports:
      - "5432:5432"

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: promillezone-api
    restart: always
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "3000:3000"

volumes:
  db-data:
